*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    width: 85%;
    margin: auto;
    align-content: right;
    justify-content: space-between;
    background-color: rgba(15, 16, 16, 0.814);
}
.banner{
    width: 100%;
    height: 20vh;
    background-image: url(bg\ header.jpg);
    background-size: cover;
    background-position: center;
}
.bgsoepomo{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(bckgaruda.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #FF0000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.gambar{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    border-radius: 5px;
}
.isi{
    margin-left: 20px;
    margin-right: 20px;
}
.bgsoepomo h2{
    color: white;
    font-size: 35px;
}
.logo{
	display: flex;
	transform:translate(-50%,-50) ;
}
.responsive{
    overflow: auto;
    margin: auto;
}